<li>
  <span class="name"><%= product.name %></span>
  <span class="billing_frequency"><%= product.billing_frequency %></span>
  <span class="timestamp">
    added <%= time_ago_in_words(product.created_at) %> ago.
  </span>
  <% if current_user?(product.user) %>
    <%= link_to "delete", product, method: :delete,
				   data: { confirm: "You sure?" },
				   title: product.name + " | " + product.billing_frequency %>
  <% end %>
</li>
